.filters {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
padding-top: 80px;
	// display: grid;
	// grid-row-start: 2;
	// grid-column-start: 2;

	// grid-row-end: 3;
	// grid-column-end: 3;
	@media (min-width: 576px) and (max-width: 768px) {
		flex-direction: column;
		.selected,
		.search-box {
			width: 100%;
			margin-bottom: 1rem;
		}
	}
}
